%div.content
  %h2 About the Sleep Algorithm
  %h4 REM Sleep
  %ul
    %li No Movement
    %li Higher than normal heart rate and volatility

  %h4 Stages 1 through 3
  %ul
    %li No movement
    %li Lower than normal heart rate and volatility

  %h4 Awake
  %ul
    %li Movement
    %li High heart rate