
<div class="header" style="height: 600px">
	<h1 style="text-align: center; padding-top: 4em">Sleep Cycles for FitBit</h1>
	<div style="width: 200px; margin: auto">
		<%= link_to 'sign in with fitbit', Oauth2Rails::Auth.new.authorize_url, class: 'btn btn-lg btn-primary center-block' %>
	</div>
</div>